<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="haina.ecommerce">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HainaECommerce.Light">
        <activity android:name=".view.register.company.RegisterCompany"></activity>
        <activity
            android:name=".view.detailjob.DetailJobActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".view.job.JobActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".view.postingjob.PostingJobActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".view.covidlist.CovidListActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".view.webview.WebViewActivity"
            android:screenOrientation="nosensor" />

        <service
            android:name=".fcm.NotifInstanceService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".view.register.account.RegisterActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".view.login.LoginActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".view.other.OtherActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".view.splashscreen.SplashScreenActivity"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:screenOrientation="nosensor" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path"
                tools:replace="android:resource" />
        </provider>
    </application>

</manifest>